<!-- S-侧边栏 -->
<div class="siderBar">
    <php>$username = session('username');</php>
	<ul>
        <li class="y_s">
            <a href="{:U('Index/index')}" <if condition="$controller_name eq 'Index' and ($action_name eq 'index' OR $action_name eq 'pcindex')">class="current"</if>>
            <span class="icon_img"></span>
            <span class="icon_text">信息列表</span>
            </a>
        </li>
<li class="y_s">
            <a href="{:U('Index/set')}" <if condition="$controller_name eq 'Index' and $action_name eq 'set'">class="current"</if>>
            <span class="icon_img"></span>
            <span class="icon_text">活动设置</span>
            </a>
            </li>
      
	</ul>
</div>
<!-- E-侧边栏 -->