<!DOCTYPE html>
<html lang="en">
<head>
	<title>兰芝</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi,viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css?v=1" id="css">
	<script src="__JS__/jquery-1.11.2.min.js"></script>
	<script src="__JS__/TweenMax.min.js"></script>
	<script src="__JS__/createjs.min.js"></script>
	<script>
	var ImgPath = "__IMG__";
	</script>
	<script>!(function (a, b, c, d, e, f) { var g = "", h = a.sessionStorage, i = "__admaster_ta_param__", j = "tmDataLayer" !== d ? "&dl=" + d : ""; if (a[f] = {}, a[d] = a[d] || [], a[d].push({ startTime: +new Date, event: "tm.js" }), h) { var k = a.location.search, l = new RegExp("[?&]" + i + "=(.*?)(&|#|$)").exec(k) || []; l[1] && h.setItem(i, l[1]), l = h.getItem(i), l && (g = "&p=" + l + "&t=" + +new Date) } var m = b.createElement(c), n = b.getElementsByTagName(c)[0]; m.src = "//tag.cdnmaster.cn/tmjs/tm.js?id=" + e + j + g, m.async = !0, n.parentNode.insertBefore(m, n) })(window, document, "script", "tmDataLayer", "TM-038006", "admaster_tm");</script>
</head>
<body onload="preload()">
	<div class="box">
		<!-- s1 序列帧 -->
		<section id="s1">
			<div class="logo"><img src="__IMG__/logo.png" alt="" style="" ></div>
			<canvas id="s1_canavs" ></canvas>
		</section>
		<!-- s1 序列帧 -->
		<!-- s2 表单 -->
		<section id="s2">
			<!-- <img src="__IMG__/bg1.jpg" alt="" width="640" height="1040" style="position:absolute;top:0;left:0"> -->
			<div class="form">
				<p>
					<span id="city">城市</span>
					<select name="" >
						<option value="城市">城市</option>
						<option value="上海">上海</option>
						<option value="北京">北京</option>
						<option value="哈尔滨">哈尔滨</option>
						<option value="长春">长春</option>
						<option value="沈阳">沈阳</option>
						<option value="鞍山">鞍山</option>
						<option value="石家庄">石家庄</option>
						<option value="天津">天津</option>
						<option value="南京">南京</option>
						<option value="合肥">合肥</option>
						<option value="徐州">徐州</option>
						<option value="无锡">无锡</option>
						<option value="常州">常州</option>
						<option value="义乌">义乌</option>
						<option value="厦门">厦门</option>
						<option value="宁波">宁波</option>
						<option value="兰州">兰州</option>
						<option value="武汉">武汉</option>
						<option value="西宁">西宁</option>
						<option value="乌鲁木齐">乌鲁木齐</option>
						<option value="西安">西安</option>
						<option value="太原">太原</option>
						<option value="呼和浩特">呼和浩特</option>
						<option value="成都">成都</option>
						<option value="海口">海口</option>
						<option value="昆明">昆明</option>
						<option value="重庆">重庆</option>
						<option value="贵阳">贵阳</option>
						<option value="广州">广州</option>
						<option value="深圳">深圳</option>
						<option value="南宁">南宁</option>
						<option value="南昌">南昌</option>
						<option value="宜昌">宜昌</option>
						<option value="长沙">长沙</option>
						<option value="济南">济南</option>
						<option value="苏州">苏州</option>
						<option value="杭州">杭州</option>
					</select>
				</p>
				<p>
					<input type="tel" placeholder="请输入您的手机号" id="phone" maxlength="11">
				</p>
			</div>
			<p class="tiaokuan_p">
				<span class="checkbox checked"></span>
				<a href="http://www.laneige.com/cn/zh/regulation/terms-and-conditions.html" class="tiaokuan"></a>
				<a href="http://www.laneige.com/cn/zh/regulation/privacy-policy.html" class="yinsi"></a>
			</p>	
			<a href="javascript:;" class="submit_btn"></a>
			<a href="javascript:;" class="rule_btn"></a>
		</section>
		<!-- s2 表单 -->
		<!-- s3 卡卷 -->
		<section id="s3">
			<!-- <img src="__IMG__/bg3.jpg" alt="" width="640" height="1040" style="position:absolute;top:0;left:0"> -->
			<div class="item">
				<img src="__IMG__/sc.png" alt="">
				<a href="javascript:;" class="get_kajuan"></a>
				<a href="javascript:;" class="rule_btn"></a>

			</div>
					
		</section>
		<!-- s3 卡卷 -->
		<!-- s4 第二次提交 -->
		<section id="s4">
			<!-- <img src="__IMG__/bg4.jpg" alt="" width="640" height="1040" style="position:absolute;top:0;left:0"> -->
			<div class="item">
        <img src="__IMG__/lg.png" alt="" class="first">
				<img src="__IMG__/qrcode.jpg" alt="" class="code">
			</div>
		</section>
		<!-- s4 第二次提交 -->			
		<!--  活动规则 -->
		<div class="rule_box">
			<span class="close_btn"></span>
			<div class="content"> 
				<a href="http://campaign.laneige.com/Silkintense2018/"></a>
				<a href="http://campaign.laneige.com/Silkintense2018/" class="a2"></a>
				<img src="__IMG__/rule_new.png" alt="" >
			 </div>
		</div>
		<!--  活动规则 -->		
	</div>
	<script type="text/javascript" src="__JS__/init.js?var=25"></script>
	<script type="text/javascript" src="__JS__/app.js"></script>
	<script type="text/javascript"src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript"src=" https://max-digital-api-dev.oss-cn-shanghai.aliyuncs.com/js/interface/service/spreading-tree/mco-1-1.js"></script>
		<script type="text/javascript">
		var userinfo = [{$userinfo}];
		__$$_obj.configure('Q0BjPDHMvgsGczwV','','MPcAtGehUy0Tg6WREkdJ8m97aFpuXqIo',userinfo);
		</script>
		<script type="text/javascript">
			wx.config({
				debug: false,
				appId: '{$signPackage.appId}',
				timestamp: '{$signPackage.timestamp}',
				nonceStr: '{$signPackage.nonceStr}',
				signature: '{$signPackage.signature}',
				jsApiList: [
					'checkJsApi',
					'onMenuShareTimeline',
					'onMenuShareAppMessage',
					'onMenuShareQQ',
					'onMenuShareWeibo',
					'hideMenuItems',
					'showMenuItems',
					'hideAllNonBaseMenuItem',
					'showAllNonBaseMenuItem',
					"getNetworkType",
					"getLocation",
					"onMenuShareQZone"  //如业务需求，可继续加入其他微信JS接口
				]
			});
			
			wx.ready(function () {
				wx.showOptionMenu();
				var shareData = {
					title: "申领试色|乔妹挚爱兰芝绝色丝润唇膏全新上市",
					desc: "兰芝绝色丝润唇膏全新上市！立即申领体验最佳拍档小白光气垫7日装",
					imgUrl: "http://laneige.cdn.max-digital.cn/H5/laneige/silkintense2018/share.jpg",
					link:"{$signPackage.url}"
				};
				wx.onMenuShareAppMessage(window.__$$_obj.makeAppMessageData(shareData));
				wx.onMenuShareTimeline(window.__$$_obj.makeTimelineData(shareData));
				wx.onMenuShareQZone(window.__$$_obj.makeQZoneData(shareData));
				wx.onMenuShareWeibo(window.__$$_obj.makeWeiboData(shareData));
				wx.onMenuShareQQ(window.__$$_obj.makeQQData(shareData));
				
				wx.getLocation({
			        type:'wgs84',//默认为wgs84的gps坐标，
			        success:function(res){
			            var latitude=res.latitude;
			            var longitude=res.longitude;
			            $.ajax({
	            	        url: "/Silkintense2018/Index/getshop",
	            	        type:'post',
	            	        dataType:'json',
	            	        data:{'lat':latitude, 'lng':longitude},
	            	        success:function(data){
	            	        	if(data.status == 1){
	            	        		var city = data.city;
	            	        		address(city);           	        			
	            	        	}
	            	        }
	            	    });
			        }
			    });
			}); 
		</script>
</body>
</html>